{{ define "header" }}{{ partial "header.html" . }}{{ end }}
{{ define "main" }}
<main aria-role="main" id="main-content" class="grid-container">
  <div class="usa-alert usa-alert--warning">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">This is a {{ .Section }} page</h4>
      <p class="usa-alert__text">
        Lorem ipsum dolor sit amet,
        <a class="usa-link" href="{{ .RelPermalink }}">consectetur adipiscing</a>
        elit, sed do eiusmod.
      </p>
    </div>
  </div>
  <div class="flex-l mt2 mw8 center">
    <article class="usa-prose">
      {{ .Content }}
    </article>
  </div>
</main>
{{ end }}
