{{ define "main" }}
<!-- Homepage template -->
<main aria-role="main">
  <header class="homepage-header">
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="font-sans-lg">
    {{ .Params.abstract }}
  </div>
  <section>
    <ul>
      {{ range where .Sections "Type" "==" "landing" }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </section>
  <div class="usa-prose">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
</main>
{{ end }}
