{{ define "main" }}
<main aria-role="main" id="main-content" class="grid-container">
  <article class="">
    <section class="">
      <h2>Landing page</h2>
      {{- .Content -}}
    </section>
    <section>
      <ul class="usa-list usa-list--unstyled">
        {{ range .Paginator.Pages }}
        <li class="padding-bottom-1">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </section>
  </article>
  <article class="grid-row">
    {{ if .Sections }}
    {{ range .Sections }}
    <section class="grid-col">
      <h3 class="text-bold">{{ .Title }}</h3>
      <ul class="margin-bottom-2 usa-list usa-list--unstyled">
        {{ range .Pages }}
        <li class="padding-bottom-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
    {{ end }}
  </article>
</main>
{{ end }}
