$theme-font-path: '../uswds/dist/fonts';
$theme-image-path: '../uswds/dist/img';
$theme-show-notifications: true;

// @import "uswds/dist/scss/uswds"
@import "~@uswds/uswds/dist/scss/uswds/uswds.scss"
