<!DOCTYPE html>
<html lang="{{ .Lang }}">
    {{- partialCached "head.html" . -}}

    <body>
        {{- partialCached "skip-link.html" . -}}
        {{- partialCached "site-alert.html" . -}}
        {{- partialCached "banner.html" . -}}
        {{- partial "language-switcher.html" . -}}

        {{- partial "header.html" . -}}
        {{- partial "hero.html" . -}}
        {{- partial "breadcrumb.html" . -}}
        <main id="main-content" class="grid-container">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partialCached "footer.html" . -}}
        {{- partialCached "identifier.html" . -}}
    </body>
    {{ $script := resources.Get "/uswds/dist/js/uswds.min.js" | resources.Fingerprint }}
    <script src="{{ $script.Permalink }}"></script>

</html>
