{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
  <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param " text_color" |
    default "mid-gray" }}">
    {{- .Content -}}
  </section>
  <section>
    <ul class="usa-list">
      {{ range .Paginator.Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </section>

  {{ if .Sections }}
  <section>
    <ul class="usa-list usa-list--unstyled">
      {{ range .Sections }}
      <li>
        <a href="{{ .RelPermalink }}" class="usa-button usa-button usa-button--outline">{{ .Title }}</a>
        <ul class="margin-bottom-2">
          {{ range .Pages }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}


  <section>
    <h2>Tags</h2>
    Or by tags, added manually by page...
  </section>
</article>
{{ end }}
