{{ define "header" }}{{ partial "header.html" . }}{{ end }}
{{ define "main" }}

<div class="grid-row grid-gap">
  {{ if .Params.breadcrumb }}
  {{- partial "sidenav.html" . -}}
  {{ end }}
  <article class="tablet:grid-col-9 {{ if .Params.inpagenav }}usa-in-page-nav-container{{ end }}">
    <header>
      <h1 class="">
        {{ .Title }}
      </h1>
    </header>
    <div class="usa-prose">
      {{ .Content }}
    </div>
    {{ if .Params.inpagenav }}
    {{- partial "inpagenav.html" . -}}
    {{ end }}
  </article>
</div>
{{ end }}
