<footer class="usa-footer usa-footer--slim">
  <div class="grid-container usa-footer__return-to-top margin-y-6">
    <a href="#">{{ i18n "returnToTop" }}</a>
  </div>
  {{ if not .IsHome }}
  {{ .Scratch.Set "githubLink" .RelPermalink }}
  {{ with .FirstSection }}
  <div class="usa-footer__primary-section padding-y-3">
    <div class="usa-footer__primary-container grid-row">
      <div class="grid-col mobile-lg:grid-col-8 padding-right-6">
        <div class="grid-col-auto">
          <p class="usa-footer__logo-heading">About {{ .Title | title }}</p>
        </div>
        <p>{{ .Summary }}</p>
      </div>
      <div class="grid-col mobile-lg:grid-col-4">
        <address class="usa-footer__address">
          <p>To contact us about this Section, email:
            <a class="usa-footer__contact-info--link" href="mailto:info@agency.gov">{{ .Params.email }}</a>.
          </p>
          <p>
            Notice a bug or want to contribute?</p>
          <a class="usa-button usa-button--outline" href="{{ .Scratch.Get " githubLink" }}">{{ i18n "improvePage" }}</a>
        </address>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-2">
        <div class="grid-col-auto">
          <p>{{ i18n "footerMaintained" | markdownify }}</p>
          <p>{{ i18n "footerEmail" }} {{ .Site.Params.org_secondary_email}}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
