<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  {{ $script := resources.Get "/uswds/dist/js/uswds-init.min.js" | resources.Fingerprint }}
  <script src="{{ $script.Permalink }}"></script>
  {{ $sass := resources.Get "/scss/styles.scss" }}
  {{- $sassOpts := dict "includePaths" (slice "node_modules") -}}
  {{- $postCssOpts := dict "use" "autoprefixer" }}
  {{- $stylesheet := $sass | resources.ExecuteAsTemplate . . | toCSS $sassOpts | resources.PostCSS $postCssOpts | minify | fingerprint "sha256" -}}
  <link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}">
</head>
