<nav aria-label="Side navigation,," class="tablet:grid-col-3 margin-top-4">
  <ul class="usa-sidenav">
    {{ range (where site.Pages "Section" .Section) }}
    {{ if .IsSection}} <!-- is a section and not a landing page -->
    <li class="usa-sidenav__item">
      <a href="{{ .RelPermalink }}" class="text-bold">{{ .Title }} - {{ .Type }}</a>
    </li>
    <ul class="usa-sidenav__sublist">
      {{ range .RegularPagesRecursive }}
      <li class="usa-sidenav__item">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
    <li class="usa-sidenav__item">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</nav>
<!-- <aside>
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.sidenav }}
    {{ if .HasChildren }}
    <li class="{{ if $currentPage.HasMenuCurrent " sidenav" . }}active{{ end }}">
      <a href="#">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    <ul class="sub-menu">
      {{ range .Children }}
      <li class="{{ if $currentPage.IsMenuCurrent " sidenav" . }}active{{ end }}">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
    <li>
      <a href="{{ .URL }}">
        {{ .Pre }}hi
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{ end }}
    {{ end }}
    <li>
      <a href="#" target="_blank">Hardcoded Link 1</a>
    </li>
    <li>
      <a href="#" target="_blank">Hardcoded Link 2</a>
    </li>
  </ul>
</aside> -->
