<nav aria-label="Primary navigation" class="usa-nav" role="navigation">
  <button type="button" class="usa-nav__close">
    <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
  </button>
  {{ if .Site.Menus.main }}
  <ul class="usa-nav__primary usa-accordion">
    <li class="usa-nav__primary-item">
      <button type="button" class="usa-accordion__button usa-nav__link usa-current" aria-expanded="false"
        aria-controls="basic-nav-section-one">
        <span>{{ .Site.Params.shortTitle }}</span>
      </button>
      <ul id="basic-nav-section-one" class="usa-nav__submenu">
        <li class="usa-nav__submenu-item">
          <a href="">Section1></a>
        </li>
        <li class="usa-nav__submenu-item">
          <a href="">Section2></a>
        </li>
        <li class="usa-nav__submenu-item">
          <a href="">Section3></a>
        </li>
        <li class="usa-nav__submenu-item">
          <a href="">Section4></a>
        </li>
      </ul>
    </li>
    {{ range .Site.Menus.main }}
    <li class="usa-nav__primary-item">
      <a href="{{ .URL }}" class="usa-nav-link" title="{{ i18n " pageTitle" . }}">{{ .Name }}</span></a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</nav>
